.centerBox {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startUpLogo {
    min-width: 200px !important;
    min-height: 200px !important;
}

.baseContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mobileNavbarContainer {
    flex: 12%;
    /* background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainAppContainer {
    flex: 75%;
    overflow: auto;
}

.bottomNavigationContainer {
    flex: 10%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}